/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
/ASSETS/env
/.deploy-keys/
/deployment/client-proxy/httpd_config.client.conf
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
